.modal-dialog {
  margin-top: 70px;
  width: 620px;
  background: #FFFFFF;
  box-shadow: 4px 4px 74px rgba(0, 0, 0, 0.2);
  border-radius: 14px; }
.modal__close {
  z-index: 1000;
  position: absolute;
  float: unset;
  top: 35px;
  right: 45px;
  opacity: 1; }
  .modal__close:hover {
    opacity: 1; }
    .modal__close:hover path {
      stroke: #000; }
.modal__content {
  padding: 36px 48px 48px; }
.modal__title {
  font-size: 28px;
  line-height: 120%; }
.modal__search {
  margin-top: 30px; }
  .modal__search input {
    border: 1px solid #E3E3E3;
    height: 46px;
    border-radius: 4px;
    padding: 0 45px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.15618 14.0625C11.4181 14.0625 14.0624 11.4182 14.0624 8.15625C14.0624 4.89432 11.4181 2.25 8.15618 2.25C4.89425 2.25 2.24993 4.89432 2.24993 8.15625C2.24993 11.4182 4.89425 14.0625 8.15618 14.0625Z' stroke='%23A0A0A0' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.3323 12.333L15.7495 15.7502' stroke='%23A0A0A0' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-position: 12px center; }
    .modal__search input:hover, .modal__search input:active, .modal__search input:focus {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.15618 14.0625C11.4181 14.0625 14.0624 11.4182 14.0624 8.15625C14.0624 4.89432 11.4181 2.25 8.15618 2.25C4.89425 2.25 2.24993 4.89432 2.24993 8.15625C2.24993 11.4182 4.89425 14.0625 8.15618 14.0625Z' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.3323 12.333L15.7495 15.7502' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      border-color: #000; }
.modal__btn {
  width: 199px;
  height: 68px;
  font-weight: 500;
  margin-top: 70px;
  border-radius: 4px;
  font-size: 16px; }
.modal__cities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 20px;
  margin-top: 15px; }
  .modal__cities input {
    position: absolute;
    opacity: 0; }
    .modal__cities input:checked + label {
      background: #000000;
      color: #fff; }
      .modal__cities input:checked + label:before {
        border: 3px solid #fff; }
  .modal__cities label {
    padding: 10px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #A0A0A0;
    cursor: pointer;
    position: relative;
    border-radius: 4px; }
    .modal__cities label:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      left: 11px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #A0A0A0; }
.modal__city {
  position: relative; }

.modal-city .modal-dialog {
  width: 796px; }
  @media screen and (max-width: 800px) {
    .modal-city .modal-dialog {
      width: calc(100% - 20px);
      margin: 50px auto 0; } }

@media screen and (max-width: 800px) {
  .modal__cities {
    grid-template-columns: 1fr 1fr;
    margin-top: 23px;
    gap: 6px; } }
  @media screen and (max-width: 800px) and (max-width: 600px) {
    .modal__cities {
      grid-template-columns: 1fr; } }

@media screen and (max-width: 768px) {
  .modal-dialog {
    margin: 50px auto 0;
    width: calc(100% - 20px); }
  .modal__close {
    top: 24px;
    right: 18px; }
  .modal__content {
    padding: 25px 18px 18px; }
  .modal__title {
    font-size: 22px; }
  .modal__search {
    margin-top: 24px; }
  .modal__city label {
    padding: 7px 45px; }
    .modal__city label:before {
      left: 17px; }
  .modal__btn {
    margin-top: 40px; } }
  @media screen and (max-width: 768px) and (max-width: 450px) {
    .modal__btn {
      width: 100%; } }

/*# sourceMappingURL=popups.css.map */
